<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pop The Ballon</title>
    <link rel="stylesheet" href="../styles/main.css">
  </head>
  <body>
    <nav class="navbar-wrapper max-w-wrapper">
      <h1>GG</h1>
      <div class="flex-3">
        <button class="outline-button">Login</button>
        <button class="fill-button">Register</button>
      </div>
    </nav>
    <header class="header-wrapper bg">
      <div class="header-content">

        <h1>Welcome in Guess Game</h1>
        <p>
          Welcome to Guess Game, the ultimate test of your word-guessing skills!
          Try to uncover the hidden word before it's too late. Each wrong guess
          brings you closer to defeat. Can you master the challenge?
        </p>
       <a href="./choseDifficulty.html"> <button class="fill-button">Play</button></a>
      </div>
    </header>
  </body>
</html>
